.top-cont{
    background-image: url("night.png");
    padding-bottom: 10%;
    margin: 0%;
    text-align: center;
    font-family:genos,sans-serif;
    

}
.mid-cont{
    background-color: #191A19;
    border-right: 20px;
    border-left: 20px;
    font-family: 'Abel', sans-serif;
    color: #ffff00;
}
.foot-cont{
    background-color:#212121;
    text-align: center;
    margin-top: 70px;
    padding: 20px 0 40px;
    font-family: 'Abel', sans-serif;
    color: #ffff00;
    font-size: 20px;
}
h1{
    color: #ffff00;
    padding-top: 250px;
    font-size:70px;
}
    
h3{
    color:#ffff00;
    text-align: center;
    font-size: 30px;
    font-style:oblique;
}
body{
    background-color:black;
}
.Barathb{
    border-radius: 50%;
   float: left;
}
.about{
    text-align: center;
    position: relative;
    bottom: 220px;
    text-decoration-line: underline;
}
.info{
  font-size: 40px;
  text-align: right;
  position: relative;
  bottom: 220px;
  right: 20px;
}
.profile{
    height: 600px;
    
}
.skills{
    text-align: center;
    font-size: 50px;
    background-color: #000000;
}
.myskills{
    text-decoration-line: underline;
}
.game{
    border-radius: 50%;
}
.skill-row1{
    font-size: 40px;
}
.skill-row2{
    font-size: 40px;
}
hr{
    border:3px dashed azure;
    width: 50%;

    
}
h2{
    text-align: center;
    text-decoration-line: underline;
    font-size: 45px;

}

.btn {
    background: black;
    background-image: -webkit-linear-gradient(top, black, #7a7a7a);
    background-image: -moz-linear-gradient(top, black, #7a7a7a);
    background-image: -ms-linear-gradient(top, black, #7a7a7a);
    background-image: -o-linear-gradient(top, black, #7a7a7a);
    background-image: linear-gradient(to bottom, black, #7a7a7a);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: 'Abel', sans-serif;
    color: #ffff00;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-left: 855px;
  }
  
  .btn:hover {
    background: black;
    background-image: -webkit-linear-gradient(top, black, #7a7a7a);
    background-image: -moz-linear-gradient(top, black, #7a7a7a);
    background-image: -ms-linear-gradient(top, black, #7a7a7a);
    background-image: -o-linear-gradient(top, black, #7a7a7a);
    background-image: linear-gradient(to bottom, black, #7a7a7a);
    text-decoration: none;
  }
  a{
    color: #ffff00;
    margin: 10px 20px;
  }




